/* styles.css */

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f8f8f8;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

#invalid-lap {
    color: #FF0000; /* Change the color for invalid laps */
}
#gold{
    background-color: rgb(211, 203, 159);
}
#silver{
    background-color: silver;
}
#bronze{
    background-color: #c5a17e;
}
#bronze td:nth-child(4), #silver td:nth-child(4),#gold td:nth-child(4){
    font-weight: bolder;
}
.update{
    color: grey;
}

.server-link a{
    /* position: absolute; */
    text-decoration: none;
    color: inherit;
    border: 1px solid black;
    border-radius:10px;
    padding: 8px;
}

.server-link a:hover {
    background-color: rgb(196, 108, 108);
    color: white;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-container div{
    margin: 8px;
}
.header-container img{
    height: 40px;
}

#carFilter{
    text-align: center;
    width: 150px;
}
input{
    text-align: center;
    width: 150px;
}
/* 
               <div class='header-container'>
                    <div>
                        <select id="carFilter" onchange="filterByCar()">
                            <option value="">All Cars</option>
                            {self.generate_filter_options(used_cars)}
                        </select>
                    </div>
                    <div>
                        <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for names..">
                    </div>
                    <div>
                        <p class='update'>Last Update: {current_date} </p>
                    </div>
                    <div>
                        <p class='server-link'><a href='https://acstuff.ru/s/q:race/online/join?httpPort=9649&ip=148.251.236.163'> Play Here</a></p>
                    </div>
                    <div>
                        <a href='YOUR_DISCORD_INVITE_LINK' target='_blank'>
                            <img src='https://cdn-icons-png.flaticon.com/512/2111/2111370.png' alt='Join our Discord server'>
                        </a>
                    </div>
                </div> 
